.search-history-drawer .ant-drawer-content-wrapper {
    width: 33% !important;
}

.search-history-entry {
    cursor: pointer;
}

@media (max-width: 700px) {
    .search-history-drawer .ant-drawer-content-wrapper {
        width: 100% !important;
    }   
}