.book-modal {
    width: 90% !important;
    max-width: 600px;
}

.book-modal .ant-modal-title {
    width: 95% !important;
}

.ant-modal-body {
    height: 70vh;
    overflow-y: scroll;
}

.ant-card-cover .ant-empty, .ant-card-cover .ant-image-img {
    height: 20em;
    object-fit: contain;
}

.ant-card-cover .ant-image-img {
    background-color: rgb(249, 247, 247);
}

.book-modal-img .ant-image-img, .book-modal-img .ant-empty {
    width: 10em;
}

.book-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}
