.search-result-list {
    margin: 10px 20px 0px 20px;
}

.search-result-spin-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5em 0;
}

.search-result-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20em, 100%), 1fr));
    grid-gap: 1em;
}

.search-result-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.search-result-text {
    margin: 0;
}