.reviews-list-text {
    display: flex;
    flex-direction: row;
}

.reviews-list-text > * {
    margin-right: 5px;
}

.new-review-content {
    display: flex;
    flex-direction: column;
}

.new-review-content > div {
    margin-bottom: 10px;
}

.review-name, .review-text {
    display: flex;
    flex-direction: row;
}

.review-name > p, .review-text > p {
    margin-right: 10px;
}

.submit-new-review {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}