.header {
    background-color: rgb(63, 114, 175);
    display: flex;
    flex-direction: row;
    box-shadow: 0px 1px 10px 0px;
    
}

.header-logo {
    height: 8em;
}

.header-text-container {
    margin: 0 0 1em 0;
    padding-left: 15px;
    align-self: center;
}

.header-text {
    margin: 0;
    font-size: 3em;
    color:white;
    font-style: italic;
}

@media screen and (max-width: 600px) {
    .header {
        justify-content: center;
    }
    .header-logo {
        height: 6em;
    }
    .header-text-container {
        display: none;
    }
}