.search-container {
    margin: 20px;
}

.search-input-filters {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.input-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-text-input {
    width: 20em;
    max-width: 25em;
    flex-grow: 1;
}

.search-input-icon {
    margin-right: 0.5em;
}

.year-input-field {
    width: 8em;
}

.category-input {
    width: 14em;
    max-width: 25em;
    flex-grow: 1;
}

.category-select {
    width: 100%;
}

.category-select-spin-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sort-by-label {
    font-size: 16px;
    margin-right: 0.75em;
    margin-left: 0.25em;
}

@media screen and (max-width: 800px) {
    .search-input-filters {
        justify-content: center;
        flex-direction: column;
        gap: 0.5em;
    }

    .search-input-filters > div {
        margin-bottom: 0.5em;
        max-width: none;
    }

    .category-input, .year-input-field, .search-text-input {
        width: 100%;
    }

    .sort-by-label {
        margin-left: 0;
    }
}

.search-input-formatted {
    display: flex;
    flex-direction: row;
}

.search-button {
    width: 8em;
}

.pagination-container {
    width: 100%;
    padding: 2em;
    margin-bottom: 4em;
    display: flex;
    justify-content: center;
}
